.header {
    background-color: #b3def0;
  color: black;
  padding: 15px;
  text-align: center;
}

* {
    box-sizing: border-box;
}

.menu {
    display: flex;
      background-color: #184d47;
      
  }

  .menu > div {

        border: #1d0707;
        border-right-style: solid;
        border-width: 1px;
      margin: 10px;
      padding: 10px;
      font-size: 20px;
      color: white;
    }


/* Create two equal columns that floats next to each other */
.column1,.column2,.column3 {
    float: left;
    width: 33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}



.column1{
 background-color: #8b878d;   
}
.column2{
    background-color: #bcb6be;   
}
.column3{
    background-color: #ebe5ee;   
}
#row::after {
    content: "";
    clear: both;
}
/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 700px) {

    .column1,.column2{
        width:50%;
    }
    .column3{
        width:100%;
    }
    
}

.footer {
    background-color: #184d47;
    
    text-align: center;
    font-size: 14px;
    padding: 15px;
    clear: both;
    color: white;
}

